body{
    background-color: rgb(199, 199, 127);
}
p{
    color: white;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a  { 
    text-decoration :  none ; 
    color: blueviolet;
   }

   img{
 float:none;
 width: 10%;
 
 padding: 5px;
 margin: 0px 10px 10px 0;
}
   