body{
	background-color: rgb(202, 228, 220);
}

.create-box{
	background: #c4d4a5;
	border: 10px dashed #FEFEFE;
	max-width: 550px;
	min-height: 88px;
	text-align: center;
	margin: auto;
}
.create-box form{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.create-box form input{
	display: block;
	margin: 5px 10px;
	
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #43A8C7;
}
h1{
    text-align: center;
    background-color: #851944;
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
}
a  { 
    
    color: blueviolet;
   }
